.ag-theme-alpine {
  --ag-font-size: 10px !important;
  --ag-grid-size: 3px !important;
  --ag-cell-horizontal-padding: 2px !important;
  --ag-header-column-separator-display: block !important;
  --ag-header-column-separator-width: 1px !important;
  --ag-header-column-separator-height: 100% !important;
  --ag-font-family: monospace !important;
}

h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.MuiMenuItem-root {
  font-size: 0.75em !important;
}

#waveform .marker-label span  {
  font-size: 0.2em !important;
}

#waveform .marker-label span:hover  {
  font-size: 0.5em !important;
}